@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <h1>Welcome to BookStore</h1>
    <input class="FreshInput" type="text" id="query">
    <button id="search">검색</button>
    <button id="next-his">다음 검색</button>
 
    <div id="resulthl"></div>
</div>
