@{
    ViewData["Title"] = "Home Page";
}
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<div class="text-center">
    
    <h1>Welcome to BookStore</h1>
    <input class="FreshInput" type="text" id="query">
    <button id="search">검색</button>
    <button id="next-his">다음 검색</button>
 
    <div id="resulthl"></div>
</div>
